{% extends "base.html" %}
{% load static%}
{% block content %}
<!-- main -->
<main class="w-full min-h-screen flex">
    <div class="w-1/2 min-h-screen flex flex-col justify-center items-center bg-center bg-cover cursor-pointer transition-all duration-300"
         style="background-image: url('{% static 'img/men.webp' %}'); transition: background-image 0.3s ease-in-out;"
         onmouseover="this.style.backgroundImage='linear-gradient(#383838ab, #383838ab), url({% static 'img/men.webp' %})'"
         onmouseout="this.style.backgroundImage='url({% static 'img/men.webp' %})'"
         onclick="TakeToMain()">
        <h1 class="text-6xl text-white tracking-wider">MEN</h1>
    </div>
    <div class="w-1/2 min-h-screen flex flex-col justify-center items-center bg-center bg-cover cursor-pointer transition-all duration-300"
         style="background-image: url('{% static 'img/wome.png' %}'); transition: background-image 0.3s ease-in-out;"
         onmouseover="this.style.backgroundImage='linear-gradient(#383838ab, #383838ab), url({% static 'img/wome.png' %})'"
         onmouseout="this.style.backgroundImage='url({% static 'img/wome.png' %})'"
         onclick="TakeToMain()">
        <h1 class="text-6xl text-white tracking-wider">WOMEN</h1>
    </div>
</main>
{% endblock %}